<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>MarketPlace — товары</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
</head>
<body>
<header class="site-header">
    <div class="header-left">
        <button id="burgerBtn" class="burger" aria-label="Открыть категории">
            <span></span><span></span><span></span>
        </button>
        <a class="site-logo" href="#">MarketPlace</a>
    </div>

    <div class="header-center">
        <div class="search-wrap">
            <input id="searchInput" type="search" placeholder="Поиск товаров, брендов..." aria-label="Поиск"/>
            <button id="searchBtn" aria-label="Найти">🔍</button>
        </div>
    </div>

    <div class="header-right">
        <button id="loginBtn" class="icon-btn" aria-label="Вход в личный кабинет">Вход</button>
        <button id="cartBtn" class="icon-btn" aria-label="Корзина товаров">
            🛒 <span id="cartCount" class="cart-count">0</span>
        </button>
    </div>
</header>

<nav id="sideCategories" class="side-categories" aria-hidden="true">
    <div class="side-header">
        <h3>Категории</h3>
        <button id="closeCategories" aria-label="Закрыть">✕</button>
    </div>
    <ul>
        <li><a href="{% url 'main' %}">Все</a></li>
        {% for kategoria in kategorii%}
        <li><a href="{% url 'kategoria' kategoria.id %}">{{kategoria}}</a></li>
        {% endfor %}

    </ul>
</nav>

<main class="main">
    <section class="products-section">
        <h2 class="visually-hidden">Список товаров</h2>
        <div id="productsGrid" class="products-grid" aria-live="polite">
            {% for tovars in tovars%}
            <article class="product-card">
                <img class="product-image" alt="tovars.title"
                     src="{{tovars.img.url}}">
                <div class="product-info">
                    <h3 class="product-title">{{tovars}}</h3>
                    <p class="product-price">{{tovars.prise}} byn. </p>
                    <div class="product-actions">

                        <button class="add-cart">Добавить в корзину</button>
                        <a href = "#" class="view-btn">Подробнее</a>
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </section>
</main>

<template id="productTemplate">
    <article class="product-card">
        <img class="product-image" alt=""/>
        <div class="product-info">
            <h3 class="product-title"></h3>
            <p class="product-price"></p>
            <div class="product-actions">
                <button class="add-cart">Добавить в корзину</button>
                <button class="view-btn">Подробнее</button>
            </div>
        </div>
    </article>
</template>

<script src="{% static 'js/script.js'%}" defer></script>

</body>
</html>
